<template>
  <div class="left-sidebar">
    <div class="left-sidebar-wrapper">
      <!--v-bar="scrollSettings"-->

      <ul class="sidebar-elements">
        <menu-item v-for="(L,idx) in list" :key="idx" :item="L" :num="idx"></menu-item>
      </ul>

    </div>
  </div>
</template>

<script>
  // http://themes.getbootstrap.com/preview/?theme_id=1696
  import MenuItem from './menu-item';

  export default {
    data() {
      return {
        scrollSettings: {
          preventParentScroll: true,
          scrollThrottle: 30
        },
        list: [
          {link: '/', ico: 'fa fa-home', title: 'Главная'},
          {link: '/domains', ico: 'fa fa-globe', title: 'Домены'},
          // {link: '/logs', ico: 'fa fa-edit', title: 'Логи'},
          {link: '/ftp', ico: 'fa fa-folder-open', title: 'FTP'},
          // {link: '/crontab', ico: 'fa fa-clock-o', title: 'Планировщик заданий'},
          {link: '/backups', ico: 'fa fa-archive', title: 'Бэкапы'},
          {link: '/email', ico: 'fa fa-envelope', title: 'Email'},
          // {link: '/terminal', ico: 'fa fa-terminal', title: 'Терминал'},
          // {link: '/proxy', ico: 'fa fa-random', title: 'Proxy'},
          {link: '/setting', ico: 'fa fa-cogs', title: 'Настройки'}
        ]
      }
    },
    components: {
      MenuItem
    }
  }
</script>

<style scoped>
  .left-sidebar {
    display: block;
    width: 220px;
    background-color: #f5f5f5;
    left: 0;
    position: absolute;
    border-right: 1px solid #e3e3e3;
    padding-top: 10px;
    min-height: 300px;
  }

  .left-sidebar a {
    color: #4285f4;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .left-sidebar-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
  }

  .left-sidebar-spacer {
    display: table-row;
    height: 100%;
  }

  .sidebar-elements {
    margin: 0;
    padding: 0;
    line-height: 16px;
  }

  .ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
  }

  .left-sidebar-scroll {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
</style>
