<template>
  <li :class="[(item.isDevider ? 'divider' : ''), (item.child ? 'parent' : ''), (isOpen ? 'open' : '')]"
      @click="onGo($event, item.link)">

    <nuxt-link :to="item.link" v-if="item.link" exact>
      <i :class="[item.ico]" v-if="item.ico"></i>
      <span>{{item.title}}</span>
    </nuxt-link>
    <span v-if="item.isDevider">{{item.title}}</span>

    <ul class="sub-menu" v-if="item.child">
      <li v-for="(C,ic) in item.child" :key="ic">
        <nuxt-link :to="C.link">{{C.title}}</nuxt-link>
      </li>
    </ul>

  </li>
</template>

<script>
  const ks = 'kls';
  export default {
    props: {
      item: {
        type: Object
      },
      num: {
        type: Number,
        default: 0
      }
    },
    data() {
      return {
        isOpen: false
      }
    },
    mounted() {
      this.$root.$on('leftMenu:close', () => {
        this.isOpen = false;
      });

      const kv = sessionStorage.getItem(ks);
      if (kv && Number(kv) === this.num) {
        this.isOpen = false;
      }
    },
    methods: {
      onGo(e, link) {
        if (this.item.hasOwnProperty('fsShow')) {
          this.$root.$emit(`fm:getList`);
          this.$root.$emit('fm:show');
        }
        if (link === '' || link === '#') {
          this.$root.$emit('leftMenu:close');
          this.isOpen = !this.isOpen;
          sessionStorage.setItem(ks, this.num);
        }
      }
    }
  }
</script>

<style scoped>
  .sidebar-elements > li {
    list-style: none;
  }

  .sidebar-elements > li > a {
    display: block;
    padding: 5px 20px;
    color: #646464;
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
  }

  .sidebar-elements > li > a:hover {
    background-color: #e4e4e4;
  }

  .sidebar-elements > li > a.active {
    padding-left: 20px;
    font-weight: 500;
    color: #4285f4;
  }

  .sidebar-elements .divider {
    padding: 15px 20px 0;
    color: #b0b0b0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }

  .sidebar-elements > li ul {
    display: none;
    background-color: #eee;
    padding: 5px 0;
    list-style: none;
    line-height: 20px;
  }

  .sidebar-elements > li > ul {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  .sidebar-elements > li ul li > a {
    padding: 3px 15px 3px 49px;
    color: #646464;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
  }

  .sidebar-elements li.open > ul {
    display: block;
  }

  .sidebar-elements > li > a i {
    line-height: 18px;
    font-size: 14px;
    min-width: 19px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
  }
</style>
