<template>
  <div>
    <div v-show="isShow">
      <CpuItem v-for="(C, idx) in list" :valueData="C" :num="C.num" :key="idx"></CpuItem>
    </div>
    <ContentLoader v-if="!isShow"></ContentLoader>
  </div>
</template>

<script>
  import CpuItem from '~/components/widget/cpu-item';
  import ContentLoader from '../content-loader';

  export default {
    props: {
      list: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    data() {
      return {
        changed: 0
      }
    },
    watch: {
      list() {
        ++this.changed;
      }
    },
    computed: {
      isShow() {
        return this.changed > 2;
      }
    },
    components: {
      CpuItem,
      ContentLoader
    }
  }
</script>

<style scoped>
</style>
