<template>
  <b-modal :id="mid"
           :close-on-esc="false"
           :hide-header="true"
           :close-on-backdrop="false"
           ref="cm">


    <slot name="content" v-if="$slots.content"></slot>
    <div v-else>
      <div class="ico text-red">
        <i class="fa fa-question"></i>
      </div>
      <div class="text">{{$t('alert.remove')}}</div>
    </div>

    <div slot="modal-footer">
      <b-btn size="sm" @click="close()">{{$t('btn.cancel')}}</b-btn>
      <b-btn size="sm" variant="danger" class="left-5" @click="ok()">{{$t('btn.confirm')}}</b-btn>
    </div>

  </b-modal>
</template>

<script>
  import {GenerateHash} from '~/plugins/libs';

  export default {
    props: {
      show: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        mid: `confirm-modal-${GenerateHash(7)}`,
        visible: false,
        handle: () => { // callback с положительным ответом
        }
      }
    },
    mounted() {
      this.visible = this.show;
    },
    methods: {
      ok() {
        this.close();
        if (this.handle instanceof Function) {
          this.handle();
        }
      },
      open(obj = {handle: null}) {
        this.visible = true;
        this.$refs.cm.show();
        if (obj.handle instanceof Function) {
          this.handle = obj.handle;
        }
      },
      close() {
        this.visible = false;
        this.$refs.cm.hide();
      }
    }
  }
</script>

<style scoped>
    .ico {
        text-align: center;
        font-size: 60px;
        width: 95px;
        height: 95px;
        margin: 10px auto 20px;
        border: 4px solid red;
        border-radius: 50%;
    }

    .text {
        text-align: center;
        font-size: 20px;
    }
</style>
