<template>
  <b-navbar type="light" variant="light" class="top-header">
    <b-navbar-brand to="/">
      <img src="~/assets/img/logo-small-h.png">
    </b-navbar-brand>

    <!--<b-nav class="ml-auto">-->

      <!--<b-nav-item-dropdown right>-->
        <!--<template slot="button-content">-->
          <!--<em>User</em>-->
        <!--</template>-->

        <!--<b-dropdown-item href="#"><i class="fa fa-user"></i>Профиль</b-dropdown-item>-->
        <!--<b-dropdown-item href="#" @click.stop="onLogout"><i class="fa fa-sign-out"></i>Выход</b-dropdown-item>-->
      <!--</b-nav-item-dropdown>-->

      <!--<b-nav-item href="#" class="top-item" @click.stop="onLogout"><i class="fa fa-sign-out"></i></b-nav-item>-->
    <!--</b-nav>-->

  </b-navbar>
</template>

<script>
  export default {
    methods: {
      onLogout() {
      }
    },
    components: {}
  }
</script>

<style scoped>
  .top-header {
    background-color: #FFF;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e5e5;
    /*padding: 0;*/
  }

  .top-item {
    /*display: inline-block !important;*/
  }

  .top-header img{
    height: 26px;
  }
</style>
