<template>
  <div class="s-alert" :class="classObject" v-show="localShow">
    <slot name="dismiss" v-if="dismissible"></slot>
    <div class="close" @click="close()" v-if="dismissible && !$slots.dismiss">&times;</div>

    <slot></slot>
  </div>
</template>

<script>
  export default {
    model: {
      prop: 'show',
      event: 'input'
    },
    props: {
      show: {
        type: [Boolean, Number],
        default: true
      },
      variant: {
        type: String,
        default: 'light' // light | error | success | info | primary | secondary | dark | warning
      },
      dismissible: {
        type: Boolean,
        default: false
      },
      dismissCountDown: { // время автозакрыния в сек
        type: Number,
        default: 0
      }
    },
    data() {
      return {
        dismissed: false
      };
    },
    mounted() {
      // if (this.dismissCountDown > 0) {
      //   setTimeout(() => {
      //     this.$emit('dismissed');
      //     this.localShow = false;
      //   }, this.dismissCountDown * 1000);
      // }
    },
    computed: {
      classObject() {
        return [this.getVariant];
      },
      getVariant() {
        return `v-${this.variant}`
      },
      localShow() {
        return !this.dismissed && this.show;
      }
    },
    methods: {
      close() {
        this.dismissed = true;
        this.$emit('dismissed');
        this.$emit('input', false);
        if (typeof this.show === 'number') {
          this.$emit('input', 0);
        } else {
          this.$emit('input', false);
        }
      }
    }
  }
</script>

<style scoped>
  .s-alert {
    width: 100%;
    display: block;
    border-left: 5px solid;
    padding: 10px 20px;
    border-radius: .25rem;
    margin-bottom: 10px;
  }

  .close {
    cursor: pointer;
  }

  .v-success {
    background-color: #f1f9ec;
    border-color: #7cc343;
    color: #4b4e48;
  }

  .v-error {
    background-color: #fbc4cb;
    border-color: #d74153;
    color: #9d0024;
  }

  .v-primary {
    background-color: #ebf2f7;
    border-color: #b1c7d0;
    color: #51534f;
  }

  .v-secondary {
    background-color: #d4dbde;
    border-color: #656a6c;
    color: #51534f;
  }

  .v-light {
    background-color: #f8fbfc;
    border-color: #d4dbde;
    color: #51534f;
  }

  .v-dark {
    background-color: #333a3d;
    border-color: #656a6c;
    color: #fff;
  }

  .v-info {
    background-color: #4f768b;
    border-color: #29495b;
    color: #fff;
  }

  .v-warning {
    background-color: #ffc900;
    border-color: #efa200;
    color: #333a3d;
  }
</style>
