<template>
  <b-card :header="header" class="bottom-15">
    <slot></slot>
  </b-card>
</template>

<script>
  export default {
    props: {
      header: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style scoped>
</style>
