<template>
  <div>

    <div class="wrap">
      <Header></Header>
      <LeftSidebar></LeftSidebar>

      <div id="content">
        <b-container fluid class="main-content">

          <div class="content-heading">
            {{getHead.title}}
            <small class="top-5">{{getHead.small}}</small>
          </div>

          <s-alert variant="error" v-if="!$store.state.ENV.VALID_ROOT_DIR">
            Указан неверное расположение Open Server <br/>
            Расположение указывается в
            <nuxt-link to="/setting">настройках</nuxt-link>
          </s-alert>

          <s-alert variant="error" v-if="$store.state.requireRestartOS">
            Нужна ручная перезагрузка Open Server <br/>
          </s-alert>

          <no-ssr>
            <nuxt class="top-15"/>
          </no-ssr>
        </b-container>

        <Footer></Footer>
      </div>

    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import {extend} from '~/plugins/libs';
  import Header from '~/components/Header';
  import Footer from '~/components/Footer';
  import Message from '~/components/Message';
  import LeftSidebar from '~/components/LeftSidebar/index';
  import Vuebar from 'vuebar'; // https://github.serafin.io/vuebar/

  Vue.use(Vuebar);
  Vue.component('s-alert', () => import('~/components/s-alert'));
  Vue.component('help', () => import('~/components/help'));
  Vue.component('SwitchBox', () => import('~/components/switch-box'));
  Vue.component('SwitchLine', () => import('~/components/switch-line'));
  Vue.component('ConfirmModal', () => import('~/components/confirm-modal'));

  const MessageComponent = Vue.extend(Message);

  const openMessage = (propsData = {
    title: '',
    message: '',
    type: '',
    direction: '',
    duration: 3000,
    container: '.messages'
  }) => new MessageComponent({el: document.createElement('div'), propsData});

  export default {
    mounted() {
      this.$root.$on('NOTIFY', (opts = {}) => {
        if (opts.type === 'error') {
          opts.type = 'danger';
        }

        openMessage(extend({
          duration: 3000,
          type: 'success',
          message: '',
          showCloseButton: true
        }, opts));
      });

      this.$faye.subscribe('system/*', (cn, n) => {
        let channel = cn.split('/').pop();
        switch (channel) {
          case 'processes':
            this.$store.commit('SET_LAUNCH', n.isLaunch);
            break;
          case 'env':
            this.$store.commit('SET_ENV', n);
            break;
        }
      });
    },
    computed: {
      getHead() {
        return this.$t(`head.${this.$route.name}`);
      }
    },
    components: {
      Header,
      Footer,
      Message,
      LeftSidebar
    }
  }
</script>

<style scoped>
  .wrap {
    position: relative;
    width: 1260px;
    margin: auto;
    background-color: #fff;
  }

  #content {
    position: relative;
    left: 0;
    margin-left: 220px;
    min-height: 100%;
    /*overflow-x: auto !important;*/
  }

  .main-content {
    padding: 25px;
    min-width: 1024px;
    overflow-y: auto;
    overflow-x: auto;
  }

  .content-heading + .breadcrumb, h3 + .breadcrumb {
    margin: -25px -25px 20px -20px;
    background-color: #fafbfc;
    border-top: 1px solid #cfdbe2;
    border-bottom: 1px solid #cfdbe2
  }

  .content-heading > .breadcrumb, h3 > .breadcrumb {
    background: 0 0;
    font-size: 13px;
    border: 0;
    padding: 10px 10px 0 0;
    margin-bottom: 0
  }

  .content-heading > .breadcrumb.pull-right, h3 > .breadcrumb.pull-right {
    margin: -2px 0 0
  }

  .content-heading, .content-wrapper > h3 {
    font-size: 20px;
    line-height: 1.1;
    color: #929292;
    margin: -25px -26px 15px;
    padding: 15px;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2
  }

  .content-heading > small, .content-wrapper > h3 > small {
    display: block;
    font-size: 12px;
    color: #909fa7
  }
</style>
