<template>
  <div>

    <b-tabs small card>
      <b-tab title="Файлы">
        <b-button size="sm" @click="getList()">
          <i class="fa fa-refresh"></i> Обновить список
        </b-button>

        <b-table striped hover :items="fileList" :fields="fields" class="top-15">

          <template slot="HEAD_actions" slot-scope="data"></template>
          <template slot="actions" slot-scope="data">
            <div class="actions">
              <b-button size="sm" @click.stop="data.toggleDetails">По датам</b-button>
            </div>
          </template>

          <template slot="row-details" slot-scope="row">
            <div>
              <b-list-group>
                <b-list-group-item v-for="(v,k,idx) in row.item.dates" :key="idx" class="arch-item">
                  <span class="date">{{v.date}}</span>

                  <span class="actions text-right">
                    <help :target="`rs-${idx}`" placement="top" content="Восстановить бэкап">
                      <b-button size="sm" :id="`rs-${idx}`" slot="ico" @click="onRestore(row.item.name, v.file)">
                        <i class="fa fa-undo"></i>
                      </b-button>
                    </help>

                    <b-button size="sm" variant="danger" class="left-5" @click="onRemove(v.file)">
                      <i class="fa fa-trash"></i>
                    </b-button>
                  </span>
                </b-list-group-item>
              </b-list-group>
            </div>
          </template>

        </b-table>
      </b-tab>
      <b-tab title="MySQL"></b-tab>
      <!--<b-tab title="История заданий"></b-tab>-->
    </b-tabs>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        list: [],
        fields: {
          name: {
            label: 'Назввание'
          },
          actions: {
            label: ''
          }
        }
      }
    },
    computed: {
      fileList() {
        return this.list.files;
      }
    },
    mounted() {
      this.getList();
    },
    methods: {
      getList() {
        this.$API.Backups.getList().then(list => {
          this.list = list;
        });
      },
      onRestore(name, archive) {
        this.$API.Backups.restore({name, archive}).then(() => {
          this.$notify('success', 'Задание поставлено в очередь на обработку');
        });
      },
      onRemove(name) {
        this.$refs.confirm.open({
          handle: () => {
            this.$API.Backups.remove(name).then(() => {
              this.$notify('success', 'Бэкап успешно удален');
              this.getList();
            }).catch(e => {
              this.$notify('error', 'При удалении произошла ошиюка');
            });
          }
        });
      }
    }
  }
</script>

<style scoped>
  .arch-item {
    position: relative;
  }

  .actions.text-right {
    float: right;
  }
</style>
