<template>
  <div>

    <b-row>
      <b-col>
        С помощью этого мастера возможно без каких-либо специальных знаний поставить ваш скрипт на выполнение.
        <div class="clearfix"></div>
        <CronWidget class="top-10"/>
      </b-col>

      <b-col>

      </b-col>
    </b-row>

  </div>
</template>

<script>
  import CronWidget from '~/components/widget/cron';

  export default {
    components: {
      CronWidget
    }
  }
</script>

<style scoped>
</style>
