<template>
  <div>

    <b-tabs card small>
      <b-tab active title="Логи">

        <b-tabs small>
          <b-tab title="1"></b-tab>
          <b-tab title="2"></b-tab>
        </b-tabs>

      </b-tab>

      <b-tab title="Настройки">
        
      </b-tab>
    </b-tabs>

  </div>
</template>

<script>
  export default {}
</script>

<style scoped>
</style>
