<template>
  <div>
    <s-alert>
      В разработке <br/>
      Данные с текущей страницы пока не сохраняются и не загружаются
    </s-alert>

    <b-tabs card small>

      <b-tab title="Основные">
        <b-card header="Профиле-независимые настройки">
          <div class="form-horizontal">
            <SwitchLine v-model="general.autostart" label="Автозапуск севрера"></SwitchLine>

            <b-form-group>
              <small>Задержка (сек)</small>
              <b-form-input class="w-25" v-model="general.wait" type="number"></b-form-input>
            </b-form-group>

            <div class="clearfix top-15"></div>

            <!--<SwitchLine v-model="general.whithWin" label="Запускать вместе с Windows"></SwitchLine>-->
            <SwitchLine v-model="general.checkupdate" label="Проверять новые версии сервера"></SwitchLine>
            <SwitchLine v-model="general.checkupdatePanel"
                        label="Проверять новые версии панели управления"></SwitchLine>
            <SwitchLine v-model="general.clearlogs" label="Очищать логи при запуске сервера"></SwitchLine>
          </div>
        </b-card>

        <b-row class="top-15">

          <b-col>
            <b-card header="Расположение Open Server">
              <b-form-group horizontal :label-cols="4" breakpoint="md" label="Каталог сервера">
                <b-form-input v-model="OS.dir" placeholder="c:\open-server"></b-form-input>
              </b-form-group>

              <b-form-group horizontal :label-cols="4" breakpoint="md" label="Исполняемый файл">
                <b-form-input v-model="OS.file"></b-form-input>
              </b-form-group>
            </b-card>
          </b-col>

          <b-col>

          </b-col>
        </b-row>

      </b-tab>

      <b-tab title="Сервер">
        <b-row>
          <b-col cols="5">
            <b-card header="FTP Сервер" class="bottom-15">
              <b-form-group horizontal :label-cols="6" label-size="sm" label="Таймаут подключения">
                <b-form-input size="sm" v-model="server.ftp.connecttimeout"></b-form-input>
              </b-form-group>

              <b-form-group horizontal :label-cols="6" label-size="sm" label="Таймаут бездействия">
                <b-form-input size="sm" v-model="server.ftp.commandtimeout"></b-form-input>
              </b-form-group>

              <SwitchLine v-model="server.ftp.isStartServer" label="Запускать сервер"></SwitchLine>
            </b-card>

            <b-card header="Кодировки" class="bottom-15">
              <Select :options="httpCharset" v-model="server.charset.http"></Select>

              <s-alert class="top-10">
                <small>
                  Ответ сервера без указания кодировки: [Content-Type: text/html]<br>
                  Ответ сервера с указанием кодировки:
                  [Content-Type: text/html; charset=UTF=8]<br>
                  По умолчанию значение параметра - <b>Не задано</b> (рекомендуется)
                </small>
              </s-alert>

              <Select :options="mysqlCharset" v-model="server.charset.mysql"></Select>

              <s-alert class="top-10">
                <small>
                  Кодировка по умолчанию для создаваемых таблиц и баз данных, запросов и ответов MySQL сервера<br>
                  По умолчанию значение параметра - <b>utf8_general_ci</b> (рекомендуется)
                </small>
              </s-alert>
            </b-card>

            <b-card header="Порты" class="bottom-15">
              <b-form-group v-for="(v, k, idx) in server.ports" horizontal :label-cols="6" label-size="sm" :label="k"
                            :key="idx">
                <b-form-input type="number" size="sm" v-model="server.ports[k]"></b-form-input>
              </b-form-group>
            </b-card>

          </b-col>

          <b-col>
            <b-card header="Параметры" class="bottom-15">
              <b-form-group>
                <small>Корневой каталог доменов</small>
                <help content="Укажите каталог, где лежат ваши сайты" placement="right" class="left-5"></help>
                <b-form-input v-model="OS.www" placeholder="c:\open-server\domains"></b-form-input>
              </b-form-group>

              <SwitchLine v-model="server.debugmode" label="Запускать сервер в отладочном режиме"></SwitchLine>
              <SwitchLine v-model="server.astart" label="Запускать сервер в агресивном режиме"></SwitchLine>
              <SwitchLine v-model="server.selfhosts" label="Не вносить изменения в HOSTS"></SwitchLine>
              <SwitchLine v-model="server.allow" label="Защитить сервер от внешнего доступа"></SwitchLine>
            </b-card>

            <!--<b-card header="IP-адрес сервера" class="bottom-15">-->
            <!--</b-card>-->

            <!--<b-card header="Настройка использования переменной PATH" class="bottom-15">-->
            <!--</b-card>-->
          </b-col>

        </b-row>
      </b-tab>

      <!--<b-tab title="Модули">-->
        <!--<s-alert>В разработке</s-alert>-->
        <!--&lt;!&ndash;<s-alert variant="info">&ndash;&gt;-->
        <!--&lt;!&ndash;Внимание! Файлы конфигурации индивидуальны для каждого модуля. Будьте внимательны при переключении версий&ndash;&gt;-->
        <!--&lt;!&ndash;модулей и отдельно редактируйте настройки каждого из них.&ndash;&gt;-->
        <!--&lt;!&ndash;</s-alert>&ndash;&gt;-->

        <!--&lt;!&ndash;<b-row>&ndash;&gt;-->
        <!--&lt;!&ndash;<b-col>&ndash;&gt;-->
        <!--&lt;!&ndash;<ModuleBlock header="HTTP"></ModuleBlock>&ndash;&gt;-->

        <!--&lt;!&ndash;<ModuleBlock header="PHP"></ModuleBlock>&ndash;&gt;-->

        <!--&lt;!&ndash;<ModuleBlock header="MySQL / MariaDB"></ModuleBlock>&ndash;&gt;-->

        <!--&lt;!&ndash;<ModuleBlock header="PostgresSQL"></ModuleBlock>&ndash;&gt;-->
        <!--&lt;!&ndash;</b-col>&ndash;&gt;-->

        <!--&lt;!&ndash;<b-col>&ndash;&gt;-->
        <!--&lt;!&ndash;<ModuleBlock header="MongoDB"></ModuleBlock>&ndash;&gt;-->
        <!--&lt;!&ndash;<ModuleBlock header="Memcached"></ModuleBlock>&ndash;&gt;-->
        <!--&lt;!&ndash;<ModuleBlock header="Redis"></ModuleBlock>&ndash;&gt;-->
        <!--&lt;!&ndash;<ModuleBlock header="DNS"></ModuleBlock>&ndash;&gt;-->
        <!--&lt;!&ndash;</b-col>&ndash;&gt;-->
        <!--&lt;!&ndash;</b-row>&ndash;&gt;-->

      <!--</b-tab>-->

      <!--<b-tab title="Переменное окружение">-->
        <!--<EnvBlock v-model="env"></EnvBlock>-->
      <!--</b-tab>-->

      <b-tab active title="Бэкапы">
        <b-row>
          <b-col>
            <b-form-group>
              <small>Хранить архивы (дней)</small>
              <b-form-input v-model="sys.liveTime" type="number" class="w-25"></b-form-input>
            </b-form-group>
          </b-col>

          <b-col>
            <b-form-group>
              <small>Каталог бэкапов</small>
              <b-form-input v-model="sys.backupDir" placeholder="c:\backup-dir"></b-form-input>
            </b-form-group>
          </b-col>

        </b-row>
      </b-tab>
    </b-tabs>

    <SubmitPane>
      <b-button size="sm" variant="success" @click="onSave()">Сохранить</b-button>
    </SubmitPane>

  </div>
</template>

<script>
  import ModuleBlock from '~/components/setting/module-block';
  import EnvBlock from '~/components/setting/env-block';
  import Select from '~/components/s-select';
  import SubmitPane from '~/components/submit-pane';
  import httpCharsetData from '~/store/data/http-carset.json';
  import mysqlCharsetData from '~/store/data/mysql-carset.json';

  export default {
    data() {
      return {
        OS: {
          dir: '', // расположение OS
          www: '', // каталог расположения доменов
          file: 'Open Server x64.exe' // использовать исполняемый файл
        },
        sys: {
          liveTime: 5,
          backupDir: '' // каталог для бэкапов
        },
        general: { // userdata\init.ini
          autostart: true, // автозапуск OS
          wait: 20, // задержка перед запуском в сек
          clearlogs: true,
          checkupdate: true,
          checkupdatePanel: true,
          whithWin: false
        },
        server: {
          ftp: {
            isStartServer: true,
            connecttimeout: 60,
            commandtimeout: 600
          },
          charset: {
            http: 'notset',
            mysql: 'utf8_general_ci'
          },
          ports: {
            HTTP: 80,
            HTTPS: 443,
            FTP: 21,
            FTPS: 990,
            PHP: 9000,
            Backend: 8080,
            MySQL: 3306,
            Redis: 6309,
            MongoDB: 27017,
            Postgres: 5432,
            Memcache: 11211
            // ,
            // Proxy: 9005
          },
          ipArr: [
            {value: '*', title: 'Все доступные IP', isActive: true}
          ],
          debugmode: false,
          astart: false, // агрессивный старт
          selfhosts: false, // Не вносить изменения в HOSTS
          allow: false, // Защитить сервер от внешнего доступа

          crpath: 0, // настройка PATH
          pathArr: []
        },
        env: []
      }
    },
    computed: {
      httpCharset() {
        let arr = [{value: 'notset', label: 'Не задано'}];
        httpCharsetData.forEach(item => {
          arr.push({value: item, label: item});
        });
        return arr;
      },
      mysqlCharset() {
        let arr = [{value: 'notset', label: 'Не задано'}];
        mysqlCharsetData.forEach(item => {
          arr.push({value: item, label: item});
        });
        return arr;
      }
    },
    mounted() {
      this.getData();
    },
    methods: {
      getData() {
        this.$API.Setting.getData().then(data => {
          for (let k in data) {
            if (this.hasOwnProperty(k)) {
              this[k] = Object.assign({}, this[k], data[k]);
            }
          }
        });
      },
      onSave() {
        this.$API.Setting.save({
          OS: this.OS,
          sys: this.sys,
          general: this.general,
          server: this.server
        }).then(() => {
          this.$notify('success', 'Настройки успешно сохранены');
          this.$store.dispatch('RESTART_OS');
        });
      }
    },
    components: {
      ModuleBlock,
      EnvBlock,
      SubmitPane,
      Select
    }
  }
</script>

<style scoped>
</style>
